<beans>
    <bean id="aService" class="org.springframework.support.AService">
        <constructor-arg type="java.lang.String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property name="property1" value="someone says"/>
        <property name="property2" value="Hello world!"/>
        <property name="bService" ref="bService"/>
    </bean>
    <bean id="bService" class="org.springframework.support.BService">
        <constructor-arg name="cService" ref="cService"/>
    </bean>
    <bean id="cService" class="org.springframework.support.CService">
<!--        <property name="aService" ref="a-service"/>-->
    </bean>
</beans>
